html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background: #39B54A;
}
h1 {
   font-family: 'Carter One', cursive;
   font-size: 5em;
   color: #F7F8DE;
   text-align: center;
   margin: 0em 0.5em 0.3em 0.5em;
}
h2 {
   font-family: 'Carter One', cursive;
   font-size: 2.5em;
   color: #F7F8DE;
   text-decoration: underline;
   margin: 0;
}
p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3em;
   color: #F7F8DE;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
}
.arrow-div {
   width: 20%;
   padding-top: 2em;
}
.arrow-div:hover {
   color: black;
}
.centre {
   margin: auto;
   text-align: center;
   padding-top: 2em;
}
.container-3 {
   width: 33%;
   float: left;
}
.container-5 {
   width: 50%;
   float: left;
}
.container-5-alt {
   width: 50%;
}
.container-5 img {
   float: left;
   padding-top: 1em;
}
.container-6 {
   width: 66%;
   float: left;
}
.container-8 {
   width: 80%;
   overflow: auto;
}
.container-10 {
   width: 100%;
   overflow: auto;
}
.clickable-link {
   font-weight: bold;
   color: #C2C5B7;
}
.email:hover{
   color: #7A7C79;
}
.float-left {
   float: left;
}
.hidden {
   display: none;
}
.icon {
   max-width: 130px;
   max-height: 130px;
}
.img-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.inner-div {
   width: 70%;
   margin: 0 auto;
   overflow: auto;
}
.link {
	font-family: 'Open Sans', sans-serif;
   font-size: 1.8em;
	color: #F7F8DE;
   text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    color: #C2C5B7;
    cursor: pointer;
}
.paragraph {
   float: left;
   text-align: left;
   margin: 0;
}
.slider-panel {
   overflow: auto;
}
.fadeIn {
   animation: fadein 2s;
   -moz-animation: fadein 2s; /* Firefox */
   -webkit-animation: fadein 2s; /* Safari and Chrome */
   -o-animation: fadein 2s; /* Opera */
}
.title {
   float: left;
}
.zero-opacity {
   opacity: 0;
}
#arrow-img-left {
   float: right;
   padding: 2em;
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
#arrow-img-right {
   float: left;
   padding: 2em;
}
#game-div {
   width: 50%;
   background-color: red;
}
#info {
   width: 60%;
   padding-top: 2em;
   text-align: center;
   overflow: hidden;
   height: 190px;
}
#info ul {
   list-style: none;
   overflow: hidden;
   height: 150px;
}
#info li {
   width: 100%;
   display: inline;
}
#info span {
   overflow: auto;
}
#links {
   display: flex;
   justify-content: space-between;
   width: 50%;
   margin: 0 auto;
}
#links li {
   display: inline;
   padding: 1em;
}
#logo {
	padding-top: 3em;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 1300px) {
  #info {
    width: 70%;
  }
  .arrow-div {
    width: 15%;
  }
}