html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background: #39B54A;
}
h1 {
   font-family: 'Carter One', cursive;
   font-size: 5em;
   color: #F7F8DE;
   text-align: center;
   margin: 0em 0.5em 0.3em 0.5em;
}
a {
	font-family: 'Open Sans', sans-serif;
   font-size: 1.8em;
	color: #F7F8DE;
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #C2C5B7;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	padding-top: 8em;
}
#links{
   position: relative;
   /*z-index:8;*/
   width: 50%;
   margin: 0 auto;
}
.container-3{
   float: left;
   width: 33%;
}
.home-link-left{
   text-align: left;
}
.home-link-centre{
   text-align: center;
}
.home-link-right{
   text-align: right;
}