html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background: #39B54A;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
h1 {
   font-family: 'Carter One', cursive;
   font-size: 5em;
   color: #F7F8DE;
   text-align: center;
   margin: 0em 0.5em 0.3em 0.5em;
}
p {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.3em;
   color: #F7F8DE;
}
ul {
   padding: 0;
   margin: 0 auto;
}
li {
   display: inline;
   padding: 1em;
}
.arrow-div {
   width: 25%;
   padding-top: 2em;
   visibility: hidden;
}
.arrow-img-left {
   float: right;
   padding: 2em;
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
.arrow-img-right {
   float: left;
   padding: 2em;
}
.container-3 {
   float: left;
}
.email{
   font-weight: bold;
   color: #C2C5B7;
}
.email:hover{
   color: #7A7C79;
}
.inner-div {
   width: 70%;
   margin: 0 auto;
}
.outer-div {
   width: 100%;
}
.link {
	font-family: 'Open Sans', sans-serif;
   font-size: 1.8em;
	color: #F7F8DE;
   text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    color: #C2C5B7;
    cursor: pointer;
}
.slider {
   visibility: hidden;
}
#game-div {
   width: 50%;
   background-color: red;
}
#info {
   width: 50%;
   padding-top: 2em;
   text-align: center;
}
#links{
   display: flex;
   justify-content: space-between;
   width: 50%;
   margin: 0 auto;
}
#logo {
	padding-top: 3em;
}